.App {
  padding: 30px;
  display: flex;

}
.todo{
  height: max-content;
  background-color: dodgerblue;
  padding: 10px;
  border-radius: 30px;
  margin-bottom: 10px;
}
.todo h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  justify-content: flex-end; /* Выравнивание по правому краю */
}

.todo ul {
  list-style-type: none;
  padding: 0;
}

.todo li {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.todo li span {
  margin-left: 10px;
}

.todo button {
  background-color: #e53935;
  color: #ffffff;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 5px; /* Отступ справа */
}

.todo button:hover {
  background-color: #c62828;

}
.App > div {
  margin-right: 50px;
}

.error {
  border: red 1px solid;
}

.error-message {
  color: red;
}

.active-filter {
  background-color: aquamarine;
}

.is-done {
  opacity: 0.5;
}